#

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

:UDP - [0:0]
:TCP - [0:0]
:ICMP - [0:0]

{% for rule in iptables_groups %}
:{{ rule.name }} - [0:0]
{% endfor %}
{% for rule in iptables_groups %}
{% for host in rule.source_addresses|default() %}
{% if host.find('.') > 0 %}
-A {{ rule.name }} -s {{ host }} -j {{ rule.action }}
{% endif %}
{% endfor %}
{% endfor %}

{% if iptables_forward_rules | length > 0 %}
-A FORWARD -m conntrack --ctstate INVALID -j DROP
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% for rule in iptables_forward_rules %}
{% if rule.src is defined and rule.src.find(':') > 0 %}
{% else %}
-A FORWARD -s {{ rule.src }} -d {{ rule.dst }} -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

{% if iptables_rules_ipv4_raw | length > 0 %}
{% for rule in iptables_rules_ipv4_raw %}
{{ rule }}
{% endfor %}
{% endif %}

{% for rule in iptables_rules %}
{% if rule.source_addresses is defined and rule.source_addresses.find(':') > 0 %}
{% else %}
{% if rule.protocol == "tcp" or rule.protocol == "tcp4" %}
-A TCP -p tcp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% if rule.protocol == "udp" or rule.protocol == "udp4" %}
-A UDP -p udp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% if rule.protocol == "any" %}
-A TCP -p tcp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
-A UDP -p udp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% endif %}
{% endfor %}

-A INPUT -i lo -j ACCEPT
{% if iptables_icmp_enabled %}
-A INPUT -p icmp --icmp-type redirect -j DROP
-A INPUT -p icmp --icmp-type timestamp-request -j DROP
-A INPUT -p icmp -m limit --limit 15/sec -j ACCEPT
{% else %}
-A INPUT -p icmp -m conntrack --ctstate NEW -j ICMP
{% endif %}

-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP

-A INPUT -p udp -m conntrack --ctstate NEW -j UDP
-A INPUT -p tcp --syn -m conntrack --ctstate NEW -j TCP

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
{% if ansible_distribution != 'CentOS' %}
:INPUT ACCEPT [0:0]
{% endif %}
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{% if iptables_nat_enabled %}
-A PREROUTING -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
{% for port_forward in iptables_port_forward_rules %}
{% if port_forward.protocol == "tcp" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p tcp -m tcp --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port|default(port_forward.port) }}
{% endif %}
{% if port_forward.protocol == "udp" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p udp -m udp --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port|default(port_forward.port) }}
{% endif %}
{% if port_forward.protocol == "any" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p tcp -m tcp --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port|default(port_forward.port) }}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p udp -m udp --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port|default(port_forward.port) }}
{% endif %}

{% endfor %}
{% if iptables_rules_nat_ipv4_raw | length > 0 %}
{% for rule in iptables_rules_nat_ipv4_raw %}
{{ rule }}
{% endfor %}
{% endif %}
-A POSTROUTING ! -s {{ ansible_default_ipv4['address'] }}/{{ ansible_default_ipv4['prefix'] }} -o {{ ansible_default_ipv4['interface'] }} -j SNAT --to-source {{ ansible_default_ipv4['address'] }}

{% endif %}
COMMIT

*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% if iptables_nat_enabled %}
-A PREROUTING -i fwbr+ -j CT --zone 1
{% endif %}
-A PREROUTING -s 127.0.0.1/32 -j CT --notrack
-A OUTPUT     -d 127.0.0.1/32 -j CT --notrack

{% if iptables_ipv4_raw | length > 0 %}
{% for rule in iptables_ipv4_raw %}
{{ rule }}
{% endfor %}
{% endif %}

COMMIT
