#

{% if iptables_ipv6_raw | length > 0 %}
*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% for rule in iptables_ipv6_raw %}
{{ rule }}
{% endfor %}

COMMIT
{% endif %}

*filter
:INPUT {{ iptables_input_policy }} [0:0]
:FORWARD {{ iptables_forward_policy }} [0:0]
:OUTPUT {{ iptables_output_policy }} [0:0]

:UDP - [0:0]
:TCP - [0:0]
:ICMP - [0:0]

{% for rule in iptables_groups %}
:{{ rule.name }} - [0:0]
{% endfor %}
{% for rule in iptables_groups %}
{% for host in rule.source_addresses|default() %}
{% if host.find(':') > 0 %}
-A {{ rule.name }} -s {{ host }} -j {{ rule.action }}
{% endif %}
{% endfor %}
{% endfor %}

{% if iptables_rules_ipv6_raw | length > 0 %}
{% for rule in iptables_rules_ipv6_raw %}
{{ rule }}
{% endfor %}
{% endif %}

{% for rule in iptables_rules %}
{% if rule.source_addresses is defined and rule.source_addresses.find('.') > 0 %}
{% else %}
{% if rule.protocol == "tcp" or rule.protocol == "tcp6" %}
-A TCP -p tcp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% if rule.protocol == "udp" or rule.protocol == "udp6" %}
-A UDP -p udp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% if rule.protocol == "any" %}
-A TCP -p tcp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
-A UDP -p udp {% if rule.source_interface is defined %}-i {{ rule.source_interface }} {% endif %}{% if rule.source_addresses is defined %}-s {{ rule.source_addresses }} {% endif %}--dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j {{ rule.action|default("ACCEPT") }}
{% endif %}
{% endif %}
{% endfor %}

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{% if iptables_nat_enabled and ansible_default_ipv6['interface'] is defined %}
-A PREROUTING -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A POSTROUTING -s {{ iptables_rules_nat_ipv6_subnet }} -o {{ ansible_default_ipv6['interface'] }} -j SNAT --to-source {{ ansible_default_ipv6['address'] }}

{% endif %}
{% if iptables_rules_nat_ipv6_raw | length > 0 %}
{% for rule in iptables_rules_nat_ipv6_raw %}
{{ rule }}
{% endfor %}
{% endif %}

COMMIT
